* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.today{
    color:red !important;
}

.thishour{
    font-weight: bold !important;
}

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size:100%;
    background-color: #e0f4fc;
    color: #383f4a;
    width:100%;
    margin: 0;
    height:100vh;
}
.table-div{
    padding:0 !important;
}
table{
    height:100%;
    width:100vw;
}
td{
    border-bottom: 1px solid black;
}
h3{
    font-size:0.8em !important;
}
.settings{
    position: absolute !important;
    right:20px !important;
}
h1{
    font-size: 2em !important;
    padding: 0 !important;
}