* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.today{
    color:red !important;
}

.thishour{
    font-weight: bold !important;
}

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size:100%;
    background-color: #e0f4fc;
    color: #383f4a;
    width:100%;
    margin: 0;
    height:100vh;
}
main{
    height:100%;
}
#mainsec{
    height:100%;
}
#bottom{
    height:120%;
}#pullDown{
    width:100%;
    height:60px;
    padding-top:20px;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top:-60px;
    background: green;
}
table{
    background-color: #bdcfd6;
    width:100%;
    height:90%;
}
tr{
    padding:0;
    margin:0;
    border:none;
}
td{
    border-bottom:1px solid black;
    padding:0;
    margin:0;
    height:12.5%
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    footer > * {
        display: block;
    }
}